.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: url(./assets/image/bghomepage.png);
  background-color: var(--bg-color) ;
}
.home-header {
  flex: 0 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--subbg-color);
  background-color: var(--subbg-color);
  border-bottom: 2px solid var(--border-color);
  top: 0;
  z-index: 999;
  position: sticky;
}
.home-logobrand {
  flex: 0 0 auto;
  width: 90%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.home-containerfull-wide {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-banner-carrousel {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 0px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.home-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;

  
}
.home-button-web {
  flex: 0 0 auto;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-buttonitem {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-btnlogin {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-login {
  width: 100%;
}
.home-btndaftar {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-daftar {
  width: 100%;
  height: auto;
}
.home-demo-iframe {

  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
}
.home-iframeitem {

  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text-center {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.home-frame-wrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 150px;
}

.home-footer {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  bottom: 0;
position: fixed;
border-top: 2px solid var(--border-color);
background: var(--footer-bg);
}
.footerimage {
  width: 60px;
  height: 60px;
}
.home-footeritem {
  flex: 0 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-itemsatu {
  flex: 1;
  width: 200px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
.home-itemdua {
  flex: 1;
  width: 200px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
.home-itemtiga {
  flex: 1;
  width: 200px;
  height: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}
@media(max-width: 767px) {
  .home-button-web {
    display: flex;
  }
  .home-buttonitem {
    width: 100%;
  }
  .home-iframeitem {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .home-iframeitem {
    width: 95%;
  }
  .home-footer {
    height: 80px;
  }
  .home-footeritem {
    height: 80px;
  }
  .home-itemsatu {
    height: 80px;
  }
  .home-itemdua {
    height: 80px;
  }
  .home-itemtiga {
    height: 80px;
  }
}
